@media (min-width:1440px) {
    .card {
        grid-template-columns: repeat(2, 1fr);
        width: 1100px;

    }

    .card__img {
        grid-column: 2 / 3;
        grid-row: 1;
        background-image: url('images/image-header-desktop.jpg');
        background-size: cover;
        height: auto;
        border-radius: 0px 8px 8px 0px;
    }



    /* Card Body */
    .card__body {
        grid-column: 1 / 2;
        background-color: var(--card-background);
        border-radius: 8px 0 0 8px;
        padding: 80px 74px 40px 74px;
    }

    .card__mask {
        border-radius: 0px 8px 8px 0px;
    }


    .card__body h1 {
        font-size: 34px;
        text-align: left;
        padding: 0;
        margin-top: 0;
    }
    
    .card__body p {
        text-align: left;
        padding: 0;
        margin-bottom: 77px;
    }



    /* Stats */
    .stats {
        flex-direction: row;
        padding: 0;
    }

    .stats li {
        margin-right: 60px;
    }

    .stats h2 {
        text-align: left;
        margin-bottom: 6px;
    }

    .stats p {
        margin-bottom: 0px;
    }
}